---
export const prerender = true;

import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import Paginator from '@/components/Paginator.astro';
import PostPreviewList from '@/components/PostPreviewList.astro';
import { PAGE_SIZE } from '@/config';
import DefaultPageLayout from '@/layouts/default.astro';

export const getStaticPaths = (async ({ paginate }) => {
	const allPosts: CollectionEntry<'blog'>[] = await getCollection('blog');
	const sortedPosts = allPosts
		.filter((post: CollectionEntry<'blog'>) => post.data.type === 'blog')
		.sort(
			(a, b) =>
				b.data.publicationDate.getTime() - a.data.publicationDate.getTime(),
		);

	return paginate(sortedPosts, {
		pageSize: PAGE_SIZE,
	});
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page } = Astro.props;
---
<DefaultPageLayout pageTitle='Blog'>
	<p class="mb-4 font-semibold">{`${page.start + 1}-${page.end + 1} / ${page.total} posts`}</p>
	<PostPreviewList posts={page.data} />
  <Paginator page={page} />
</DefaultPageLayout>
