---
export const prerender = true;

import { getCollection } from 'astro:content';
import Paginator from '@/components/Paginator.astro';
import PostPreviewList from '@/components/PostPreviewList.astro';
import { PAGE_SIZE } from '@/config';
import DefaultPageLayout from '@/layouts/default.astro';
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';

const title = 'Blog';

export const getStaticPaths = (async ({ paginate }) => {
	const allPosts = await getCollection('blog', ({ data }) => data.isPublished);
	const sortedPosts = allPosts.sort(
		(a, b) =>
			b.data.publicationDate.getTime() - a.data.publicationDate.getTime(),
	);

	return paginate(sortedPosts, {
		pageSize: PAGE_SIZE,
	});
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page } = Astro.props;
---
<DefaultPageLayout pageTitle={title}>
  <div class="mb-10">
    <PostPreviewList posts={page.data} heading={`${page.start + 1}-${page.end + 1} / ${page.total} posts`} />
  </div>    
  <Paginator page={page} />
</DefaultPageLayout>
