---
import Link from './Link.astro'
import LinkCard from './LinkCard.astro'
import getItem, { IFAmazonItem } from '@/utils/paapi5/getItem';

interface Props {
  itemId: string,
  type?: 'link' | 'linkCard',
}

const { itemId, type = 'linkCard' } = Astro.props;

const item: IFAmazonItem = await getItem(itemId);

---

{ type === 'link' &&
  <Link href={item.href}>{item.name}</Link>
}
{ type === 'linkCard' &&
  <Link href={item.href}>
    <div class='flex items-center border rounded not-prose my-10 border-gray-300 p-3 gap-4'>
      <img src={item.imageSrc} alt='商品画像' class='my-0 rounded h-48'>
      <div class="text-sm flex-1">
        <p class="mb-3 font-bold text-base">{ item.name }</p>
        <p class="mb-2">{ item.contributors }</p>
        <p>{ item.manufacturer }</p>
      </p>
    </div>
  </Link>
}