---
import Link from './Link.astro'

interface Props {
  src: string
  title: string
  href: string
}

const { src, title, href } = Astro.props;
---

<div class="shadow-md mb-2">
<script
  async
  class="docswell-embed"
  src="https://www.docswell.com/assets/libs/docswell-embed/docswell-embed.min.js"
  data-src={src}
></script>
</div>
<div class="docswell-link text-center" style="word-break: auto-phrase;"><Link href={href} title={title}>{title}</Link></div>
