---
import { Image } from 'astro:assets';
import { getImage } from 'astro:assets';
import Link from './Link.astro';
import OgpLink from './OgpLink.astro';

interface Props {
  src: ImageMetadata | string,
  alt: string,
  caption?: string,
  srcUrl?: string,
  srcName?: string,
}

const { src, alt, caption, srcUrl, srcName } = Astro.props;

const image = await getImage({ src: src })
---

<figure class="text-center">
  <img src={image.src} alt={alt}>
  <figcaption class="text-gray-100 font-bold">{ caption }</figcaption>
  {srcUrl &&
    srcName ? (
      <span class="text-sm">
        <Link href={srcUrl}>{ srcName }</Link>
      </span>
    ) : (
      <span class="text-sm">
        <OgpLink url={srcUrl} type="link" />
      </span>
    )
  }
</figure>