---
import Link from './Link.astro';

interface Props {
	name: string;
	href: string;
	imageSrc?: string;
	imageAlt?: string;
}

const { name, href, imageSrc, imageAlt } = Astro.props;
---

<Link href={href}>
  <div class='flex items-center border rounded not-prose border-gray-300'>
    <p class="text-sm px-4 py-2 flex-1">{name}</p>
    <img src={imageSrc} alt={imageAlt} class='my-0 rounded-r h-24'>
  </div>
</Link>