---
import Link from './Link.astro';

interface Props {
	name: string;
	href: string;
	imageSrc?: string;
	imageAlt?: string;
}

const { name, href, imageSrc, imageAlt } = Astro.props;
---

<Link href={href}>
  <div class:list={[
    'flex sm:flex-row items-center',
    'text-center sm:text-left',
    'border rounded border-text dark:border-dark-text',
    'overflow-hidden',
    'not-prose',
    imageSrc ? 'max-sm:flex-col-reverse' : 'h-24',
  ]}>
    <span class='text-sm px-4 py-2 flex-1'>{name}</span>
    { imageSrc &&
      <img src={imageSrc} alt={imageAlt} class='my-0 sm:h-24 max-sm:border-b sm:border-l border-text'>
    }
  </div>
</Link>