---
import Link from './Link.astro'

interface Props {
  name: string,
  href: string,
  imageSrc?: string,
  imageAlt?: string,
  isImageLeft?: boolean,
  isImageLarge?: boolean,
}

const { name, href, imageSrc, imageAlt, isImageLeft = false, isImageLarge = false } = Astro.props
---

<Link href={href}>
  <div class=`flex items-center border rounded not-prose my-10 border-gray-300 ${isImageLeft && 'flex-row-reverse'}`>
    <p class="text-sm px-4 flex-1">{name}</p>
    <img src={imageSrc} alt={imageAlt} class=`my-0 rounded-r ${isImageLarge ? 'h-48' : 'h-24'}`>
  </div>
</Link>