---
import Link from './Link.astro'

interface Props {
  sourceName?: string
  sourceLink?: string
}

const { sourceName, sourceLink } = Astro.props
---
<blockquote cite={sourceLink} class="prose-quoteless">
  <slot/>
  { sourceName &&
  <p class="text-right mt-0">
    { !!sourceLink
      ? <Link href={sourceLink} title={sourceName}>{sourceName}</Link>
      : sourceName
    }
    </p>
  }

</blockquote>
