---
import AmazonLink from './AmazonLink.astro';
import Link from './Link.astro';
import OgpLink from './OgpLink.astro';

interface Props {
	citeName?: string;
	citeUrl?: string;
	amazonAsin?: string;
}

const { citeName, citeUrl, amazonAsin } = Astro.props;
---
<blockquote class="prose-quoteless mb-1">
  <div class="[&>p]:mb-2">
    <slot />
  </div>
  <cite class="block text-right">
    { (citeName && citeUrl) &&
    <Link href={citeUrl}>{citeName}</Link>
  }
  { (citeName && !citeUrl) &&
    citeName
  }
  { (!citeName && citeUrl) &&
    <OgpLink url={citeUrl} type="link" />
  }
  { amazonAsin &&
    <AmazonLink asin={amazonAsin} type="link" />
  }
</cite>
</blockquote>