---
import { type CollectionEntry, getEntry } from 'astro:content';
import Link from './Link.astro';

interface ToCItem {
	slug: string;
	text: string;
}

if (!Astro.params.path) throw 'Astro.params.path is undefined.';

const entry: CollectionEntry<'blog'> | undefined = await getEntry(
	'blog',
	Astro.params.path,
);

if (!entry) throw 'entry is undefined.';

const { headings } = await entry.render();
const tocItems: ToCItem[] = headings
	.filter((heading) => heading.depth < 3)
	.map((heading) => ({ slug: heading.slug, text: heading.text }));
---

<h2>Table of Contents</h2>
<ul>
{ tocItems.map((tocItem) => (
  <li class="my-0">
		<Link href={`#${tocItem.slug}`}>{tocItem.text}</Link>
	</li>
))}
</ul>