---
interface Props {
	src: string;
}

const { src } = Astro.props;
---

<div class="flex justify-center">
	<iframe
		width="100%"
		src={src}
		title="YouTube video player"
		style="aspect-ratio: 560/315"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		referrerpolicy="strict-origin-when-cross-origin"
		allowfullscreen>
	</iframe>
</div>
