---
export const prerender = true;

import { getCollection } from 'astro:content';
import PostPreviewList from '@/components/PostPreviewList.astro';
import ProfileCard from '@/components/ProfileCard.astro';
import DefaultPageLayout from '@/layouts/default.astro';

const posts = await getCollection('blog', ({ data }) => data.isPublished);
posts.sort(
	(x, y) =>
		new Date(y.data.publicationDate).getTime() -
		new Date(x.data.publicationDate).getTime(),
);
---
<DefaultPageLayout showPageHeader={false}>
    <ProfileCard class="mt-10" />
    <div class="py-4">
        <PostPreviewList posts={posts.slice(0, 5)} heading="Recent Posts"/>
        <div class="text-center md:text-right mt-16">
            <a class="uppercase font-bold hover:underline" href="/blog" title="すべてのブログ">All Posts &rarr;</a>
        </div>
    </div>
</DefaultPageLayout>
