---
export const prerender = true

import { getCollection } from 'astro:content'
import DefaultPageLayout from '@layouts/default.astro'
import PostPreviewList from '@components/PostPreviewList.astro'
import Prose from '@components/Prose.astro'
import { Content as SelfIntroduction } from './_self_introduction.mdoc'

const title = 'Home'
const description = 'こんにちは、asatoです。スクラムマスターやってます。ここは僕がゆっくりまったりゆとりを持って、スクラムやチーム開発に関する知見・経験・考えを共有する場所です。誰かの支援につながれば嬉しいです。'

const posts = await getCollection('blog', ({ data }) => data.published )
posts.sort((x, y) => new Date(y.data.date).getTime() - new Date(x.data.date).getTime() )

---
<DefaultPageLayout content={{ title, description }} showPageHeader={false}>
    <div class="flex flex-col md:flex-row gap-8 w-full transition-all pb-4 md:pb-12 justify-center items-center">
        <img src="/images/pigeon.jpg" title="My icon" class="rounded-full h-48 w-48" />
        <div class="flex text-center md:text-left">
            <Prose>
                <SelfIntroduction/>
            </Prose>
        </div>
    </div>
    <hr/>
    <div class="py-4">
        <PostPreviewList posts={posts.slice(0, 5)} heading="最近の投稿 / Recent Posts"/>
        <div class="text-center md:text-right">
            <a class="uppercase font-bold hover:underline" href="/blog" title="すべてのブログ">All Posts &rarr;</a>
        </div>
    </div>
</DefaultPageLayout>
