---
export const prerender = true

import { getCollection } from 'astro:content'
import DefaultPageLayout from '@layouts/default.astro'
import PostPreviewList from '@components/PostPreviewList.astro'
import Prose from '@components/Prose.astro'
import { Content as SelfIntroduction } from './_self_introduction.md'


const title = 'Home'
const description = 'こんにちは、asatoです。スクラムマスターやってます。'

const posts = await getCollection('blog')
---
<DefaultPageLayout content={{ title, description }} showPageHeader={false}>
    <div class="flex flex-col md:flex-row gap-8 w-full transition-all pb-4 md:pb-12 justify-center items-center">
        <img src="images/uploads/pigeon.jpg" title="My icon" class="rounded-full h-48 w-48" />
        <div class="flex text-center md:text-left">
            <Prose>
                <SelfIntroduction/>
            </Prose>
        </div>
    </div>
    <hr/>
    <div class="py-4">
        <PostPreviewList posts={posts.slice(0, 3)} heading="最近の投稿 / Recent Posts"/>
        <div class="text-center md:text-right">
            <a class="ink-h hover:underline" href="/blog" title="すべてのブログ">All Posts &rarr;</a>
        </div>
    </div>
</DefaultPageLayout>
