---
import type { CollectionEntry } from 'astro:content';
import EmbeddedPostPreview from '@/components/EmbeddedPostPreview.astro';

interface Props {
	posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---
<section class="flex flex-col gap-20">
  {posts.map((post: CollectionEntry<'blog'>) => (
    <EmbeddedPostPreview post={post} />
  ))}
</section>
