---
    import { SITE } from '$/config'
    import ModeLabel from './ModeLabel.svelte'
---
<footer class="footer">
    <nav class="nav text-center">
        <p>2024  &copy; Copyright notice | asato all right reserved.</p>
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t
    }
</style>
