---
import Nav from '@/components/Nav.astro';
---

<footer class="py-10 border-t border-text dark:border-dark-text mt-16 text-center">
  <Nav class="mb-10" />
  <p class="mb-4">2024  &copy; asato all right reserved.</p>
  <p class="text-sm">このブログはAmazonのアソシエイトとして適格販売により収入を得ています。</p>
</footer>
