---
---
<footer class="py-10 border-t mt-16">
    <nav class="text-center">
        <p class="mb-4">2024  &copy; asato all right reserved.</p>
        <p class="text-sm">このブログはAmazonのアソシエイトとして適格販売により収入を得ています。</p>
    </nav>
</footer>
