---
    import { SITE } from '@/config'
    import SvgIcon from './SvgIcon.astro'
    import ModeSwitcherBtn from './ModeSwitcherBtn.svelte'
    import HeaderNavItem from './HeaderNavItem.astro'
    import BlankLink from './BlankLink.astro'
    import { Icon } from 'astro-icon'

---

<header class="py-3">
    <h3 class="text-4xl font-extrabold text-theme-secondary dark:text-theme-dark-secondary">
            <a href="/">{ SITE.name }</a>
        </h3>
        <div class="flex justify-end">
            <nav>
                <ul class="flex gap-3">
                    <HeaderNavItem>
                        <BlankLink href={`https://twitter.com/${SITE.authorTwitter}`} title={`${SITE.author}'s X account`}>
                            <SvgIcon>
                                <Icon name="mdi:twitter" />
                            </SvgIcon>
                        </BlankLink>
                    </HeaderNavItem>
                    <HeaderNavItem>
                        <BlankLink href={ SITE.githubUrl } title={`${ SITE.author }'s GitHub URL`}>
                            <SvgIcon>
                                <Icon name="mdi:github" />
                            </SvgIcon>
                        </BlankLink>
                    </HeaderNavItem>
                    <HeaderNavItem>
                        <BlankLink href="/rss.xml" title="RSS">
                            <SvgIcon>
                                <Icon name="mdi:rss" />
                            </SvgIcon>
                        </BlankLink>
                    </HeaderNavItem>
                    <HeaderNavItem>
                        <ModeSwitcherBtn client:visible />
                    </HeaderNavItem>
                </ul>
            </nav>
        </div> 
</header>
