---
    import { SITE } from '@/config'
    import SvgIcon from './SvgIcon.astro'
    import ModeSwitcherBtn from './ModeSwitcherBtn.svelte'
    import SearchBtn from './SearchBtn.svelte'
    import HeaderNavItem from './HeaderNavItem.astro'
    import { Icon } from 'astro-icon'

---

<header class="py-3">
    <h3 class="text-4xl font-extrabold text-theme-secondary dark:text-theme-dark-secondary">
            <a href="/">{ SITE.name }</a>
        </h3>
        <div class="flex justify-end">
            <nav>
                <ul class="flex gap-3">
                    <HeaderNavItem>
                        <SearchBtn client:visible />
                    </HeaderNavItem>
                    <HeaderNavItem>
                        <a href={`http://twitter.com/${ SITE.authorTwitter}`} title={`${ SITE.author }'s X account'`} target="_blank" rel="noopener noreferrer">
                            <SvgIcon>
                                <Icon name="mdi:twitter" />
                            </SvgIcon>
                        </a>
                    </HeaderNavItem>
                    <HeaderNavItem>
                        <a href={ SITE.githubUrl } title={`${ SITE.author }'s Github URL'`} target="_blank" rel="noopener noreferrer">
                            <SvgIcon>
                                <Icon name="mdi:github" />
                            </SvgIcon>
                        </a>
                    </HeaderNavItem>
                    <HeaderNavItem>
                        <a href="/rss.xml" title="RSS" target="_blank" rel="noopener noreeferrer">
                            <SvgIcon>
                                <Icon name="mdi:rss" />
                            </SvgIcon>
                        </a>
                    </HeaderNavItem>
                    <HeaderNavItem>
                        <ModeSwitcherBtn client:visible />
                    </HeaderNavItem>
                </ul>
            </nav>
        </div> 
</header>
