---
import BaseLayout from './BaseLayout.astro';
import Footer from './Footer.astro';
import Header from './Header.astro';
import Nav from './Nav.astro';
---
<BaseLayout>
    <div class="flex flex-col min-h-screen">
    <Header />
    <Nav />
    <div class="flex-1">
        <slot />
    </div>
    <Footer/>
    </div>
</BaseLayout>
