---
import BaseLayout from './BaseLayout.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';
import Nav from './Nav.astro';
import SearchModal from './SearchModal.svelte'

---
<BaseLayout>
    <div class="flex flex-col min-h-screen">
    <br class="my-4"/>
    <Header />
    <Nav />
    <div class="flex-1">
        <slot />
    </div>
    <br class="my-4"/>
    <Footer/>
    <SearchModal client:load/>
    </div>
</BaseLayout>
