---
import { NAV_ITEMS } from '@/config';

interface Props {
	class?: string;
}
---
<nav class={Astro.props.class}>
  <ul class="flex justify-center gap-8 text-xl" transition:animate="fade">
    {
      Object.keys(NAV_ITEMS).map(navItemKey =>
        <li class="underline-offset-8 font-bold capitalize">
          {
            Astro.url.pathname === NAV_ITEMS[navItemKey].path
            ?
              <span class="underline text-primary">
                {NAV_ITEMS[navItemKey].title}
              </span>
            : <a
                class="hover:underline"
                href={NAV_ITEMS[navItemKey].path}
              >
                {NAV_ITEMS[navItemKey].title}
              </a>
          }
      </li>)
    }
  </ul>
</nav>
