---
import LinkTag from '@/components/LinkTag.astro';

interface Props {
	title: string;
	publicationDate: Date;
	tags?: string[];
	readingTime: number;
	class?: string;
}

const { title, publicationDate, tags, readingTime } = Astro.props;
---
<div class:list={["text-center md:text-left", Astro.props.class]}>
  <p class="mb-2 font-semibold">
    { new Intl.DateTimeFormat('ja-JP', { dateStyle: 'long' }).format(publicationDate)}
  </p>
  <h1 class="text-3xl leading-snug font-bold mb-4" style="word-break: auto-phrase;">
    { title }
  </h1>
  <div class="flex gap-2 flex-wrap justify-center md:justify-start mb-2 text-base">
    { tags && tags.length > 0 && tags.map(tag =>
      <LinkTag name={tag} href={`/tags/${tag}`} />
    )}
  </div>
  <p class="text-base">読了時間の目安: { readingTime }分</p>
</div>
