---
import type { CollectionEntry } from 'astro:content';
import PostPreview from './PostPreview.astro';

interface Props {
	posts: CollectionEntry<'blog'>[];
	heading?: string;
}

const { posts, heading } = Astro.props;
---
{ heading
  ? <h5 class="text-center sm:text-left mt-6 mb-6 font-bold uppercase text-gray-500 dark:text-gray-200">{heading}</h5>
  : ''
}
<section class="flex flex-col gap-16">
  {posts.map((post) => (
    <PostPreview post={post} />
  ))}
</section>
