---
import { Icon } from 'astro-icon/components';
import ProfileItem from './ProfileItem.astro';
import Prose from './Prose.astro';
import SocialMediaAccountIcons from './SocialMediaAccountIcons.astro';

interface Props {
	class: string;
}
---
<div class:list={[
  "flex flex-col md:gap-8 md:flex-row w-full transition-all justify-center items-center border-2 rounded-xl p-4",
  Astro.props.class
]}>
  <div>
    <img src="/images/pigeon.jpg" title="My icon" class="rounded-full h-48 w-48" />
  </div>
  <Prose>
    <SocialMediaAccountIcons class="md:hidden my-4 justify-center" />
    <ul class="not-prose">
      <ProfileItem text="名前：asato" iconName='mdi:id-card-outline' />
      <ProfileItem text="仕事：スクラムマスター" iconName='mdi:work-outline' />
      <ProfileItem text="好き：家族、温泉、旅行、謎解き" iconName='mdi:heart-outline' />
      <ProfileItem text="苦手：はじめまして、あんこ、うなぎ" iconName='mdi:heart-broken-outline' />
    </ul>
    <SocialMediaAccountIcons class="hidden md:flex mt-4" />
  </Prose>
</div>
