---
import { type CollectionEntry, getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';
import Link from './mdoc/Link.astro';

interface Props {
	id: string;
	tags: string[];
	type: 'blog' | 'slide' | 'video' | undefined;
	class?: string;
}

const { id, tags, type } = Astro.props;
const allPosts: CollectionEntry<'all'>[] = await getCollection('all');

const posts = allPosts
	.filter(
		(post: CollectionEntry<'all'>) =>
			post.id !== id &&
			post.data.tags &&
			post.data.tags.filter((tag) => tags.includes(tag)).length > 0,
	)
	.map((post: CollectionEntry<'all'>) => ({
		...post,
		sameTagCount:
			post.data.tags?.filter((tag) => tags.includes(tag)).length || 0,
	}))
	.sort((a, b) => {
		if (a.sameTagCount > b.sameTagCount) return -1;
		if (a.sameTagCount < b.sameTagCount) return 1;

		if (a.data.publicationDate > b.data.publicationDate) return -1;
		if (a.data.publicationDate < b.data.publicationDate) return 1;

		return 0;
	})
	.slice(0, 5);
---

{ posts.length > 0 &&
	<div class={Astro.props.class}>
		<h2>Related posts</h2>
		<ul>
			{ posts.map((post) => (
				<li>
					<Link href={post.data.externalUrl ?? `/${post.id}`}>
						{ tags?.includes('Articles') && <Icon name="mdi:document-sign" class="inline align-middle mr-2" />} 
			      { type === 'slide' && <Icon name="mdi:presentation" class="inline align-middle mr-2" />} 
      			{ type === 'video' && <Icon name="mdi:video-youtube" class="inline align-middle mr-2" />} 
						<span>{post.data.title}</span>
						{ post.data.externalUrl && <Icon name="mdi:external-link" class="inline align-middle ml-2" /> }
					</Link>
				</li>
			))}
		</ul>
	</div>
}