---
import { Icon } from 'astro-icon/components';
import Link from './mdoc/Link.astro';

interface Props {
	blogTitle: string;
}

const { blogTitle }: Props = Astro.props;

const xShareText: string = encodeURIComponent(
	`${blogTitle} #atblog\n${Astro.url}`,
);
---
<div class:list={["flex justify-center gap-4", Astro.props.class]}>
  <Link href=`https://twitter.com/intent/tweet?text=${xShareText}` title="Xにシェア">
    <Icon name="fa6-brands:x-twitter" class="text-3xl" />
  </Link>
  <Link href=`https://b.hatena.ne.jp/entry?url=${encodeURIComponent(Astro.url)}` title="はてなブックマークに追加">
    <div class="bg-white rounded-md" style="color: #01a5df;">
    <Icon name="cib:hatena-bookmark" class="text-3xl" />
  </div>
  </Link>
</div>