---
import { PROFILE_PAGE_URLS } from '@/config';
import { Icon } from 'astro-icon/components';
import Link from './mdoc/Link.astro';

interface Props {
	class: string;
}
---
<div class:list={["flex gap-3", Astro.props.class]}>
  <Link
    href={PROFILE_PAGE_URLS.x}
    title='asatoのXプロフィールページ'
  >
    <Icon name="fa6-brands:x-twitter" class="text-2xl" />
  </Link>
  <Link
    href={PROFILE_PAGE_URLS.github}
    title='asatoのGitHubプロフィールページ'
  >
    <Icon name="mdi:github" class="text-2xl" />
  </Link>
  <Link
    href={PROFILE_PAGE_URLS.bmc}
    title="Buy me a coffee"
  >
    <Icon name="simple-icons:buymeacoffee" class="text-2xl" />
  </Link>
</div>