---
import { SITE } from '@/config'
import BaseHead from '@components/BaseHead.astro';
import MainLayout from '@components/MainLayout.astro';

const { content, showPageHeader = true } = Astro.props
---
<!doctype html>
<html lang="ja">
    <head>
        <BaseHead title={ content.title ? `${ SITE.title } | ${content.title}` : SITE.title } description={ content.description }/>
    </head>
    <MainLayout>
        {showPageHeader &&
            <h1 class="text-5xl font-extrabold text-theme-primary dark:text-theme-dark-primary mb-16 text-center md:text-left">{content.title}</h1>
        }
        <slot />
    </MainLayout>
</html>
