---
import type { CollectionEntry } from 'astro:content';
import { SITE } from '$/config'
import MainLayout from '$/components/MainLayout.astro'
import BaseHead from '$/components/BaseHead.astro'
import Prose from '$/components/Prose.astro'


interface Props {
    content: CollectionEntry<'blog'>['data'],
}
const { content } = Astro.props

---
<!doctype html>
<html lang="ja">
  <head>
    <BaseHead {...content} title={ content.title ? `${ SITE.title } | ${content.title}` : SITE.title }/>
  </head>
  <MainLayout>
    <div class="text-center md:text-left mb-16">
      <p class="mb-2 font-bold">
        { new Intl.DateTimeFormat('en-US', { dateStyle: 'long' }).format(new Date(content.date))}
      </p>
      <h1 class="text-4xl leading-snug font-bold text-theme-primary dark:text-theme-dark-primary mb-2" style="word-break: auto-phrase;">{ content.title }</h1>
      <div class="inline-flex gap-3 flex-wrap">
        { !!content.tags && content.tags.length > 0 && content.tags.map(tag =>
          <a
            class="hover:text-theme-primary hover:font-bold dark:hover:text-gray-100"
            href={`/tags/${tag}`}
            title={tag}
          >
            {tag}
          </a>
        )}
      </div>
    </div>
    <Prose><slot /></Prose>
  </MainLayout>
</html>